extends layout

block css
  link(rel="stylesheet", href="/css/index.css")

block content

  div.m-media
    div.slider
    div.blocks
      div.block
        div.block-head
          span.label
            | 动态新闻
        div.block-body
          ul.link-list
            - for (var i = 0; i < newsList.length; i++)
              li
                a(href="#")
                  span.date
                    = newsList[i].gmt_create
                  = newsList[i].articleName
      div.block
        div.block-head
          span.label
            | 通知公告
        div.block-body
          ul.link-list
            - for (var i = 0; i < noticeList.length; i++)
              li
                a(href="#")
                  span.date
                     = noticeList[i].gmt_create
                  = noticeList[i].articleName