doctype 5
html(manifest="test.mf")
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    div.head
      | XXX
    ul.main-menu
      li
        a(href="#")
          | Home
    block content