doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    block css
  body
    div.header
      img.logo1(src="/images/index/logo_1.png")
      img.logo2(src="/images/index/logo_2.png")
    div.content
      ul.main-menu
        - var len =  categories.length
        - for (var i = 0; i < len ; i++)
          li
            - if (categories[i].active)
              a.active(href="/article?cid=" + categories[i]._id)=categories[i].categoryName
            - else
              a(href="/article?cid=" + categories[i]._id)=categories[i].categoryName

      div.content-body.clearfix
        block content