background-dark = #0f7dbf;
text-color = #0f7dbf;

.m-media
  width: auto;

.slider
  float: left;
  border: 1px solid #999;
  width: 400px;
  height: 300px;

.blocks
  margin-left: 420px;

.block
  margin-bottom: 12px;

.block-head
  margin-bottom: 12px;

  .label
    display: inline-block;
    padding: 8px;
    line-height: 12px;
    color: #fff;
    border-radius: 3px;
    background: background-dark;

.block-body

  a
    color: #666;

  a:hover
    text-decoration: underline;


  .link-list, .link-list li
    list-style: disc;

  .link-list li
    margin-left: 20px;
    line-height: 28px;

  .link-list .date
    float: right;

