//
   Created by cangya.jyt on 14-1-19.

//
   Created by Administrator on 14-1-25.
extends ../layout
block css
    link(rel="stylesheet", href="/css/article.css")
block content
    div.content-wrap.single.clearfix
      div.article-content!=article.content
