//
   Created by Administrator on 14-1-25.
extends ../layout

block css
    link(rel="stylesheet", href="/css/article.css")

block content
  div.content-wrap.clearfix
      ul.tab-list
        - for (var i = 0; i < titleList.length; i++)
          if (titleList[i]._id == article._id)
            li.active-tab
              a(href="#")=titleList[i].subCategory
                  span.tab-append
          else
            li
              a(href="/article?aid=" + titleList[i]._id + "&cid=" + article.categoryId)=titleList[i].subCategory
              span.tab-append

      div.article-content!=article.content
