//
   Created by Administrator on 14-1-25.
extends ../layout

block css
    link(rel="stylesheet", href="/css/article.css")

block content
  div.content-wrap.clearfix
      ul.tab-list
        - for (var i = 0; i < list.length; i++)
          if (list[i]._id == article._id)
            li.active-tab
              a(href="#")=list[i].articleName
                  span.tab-append
          else
            li
              a(href="/article?aid=" + list[i]._id + "&cid=" + article.categoryId)=list[i].articleName
              span.tab-append

      div.article-content!=article.content
